---
layout: page
title: Projects
description: This page has information about various projects of Jabran Rafique.
class: projects
---

<div class="projects">
	<p>Here is list of projects I work on from time to time. Most of these are open-source and hosted at <a href="https://github.com/{{ site.github.username }}" target="_blank">GitHub</a> &ndash; free to use and explore. You are most welcome to share your feedback, corrections and even enhancements to any of those.</p>

	<p>I also use <a href="https://gist.github.com/{{ site.github.username }}" target="_blank">GitHub Gist</a> and <a href="https://codepen.io/{{ site.codepen.username }}" target="_blank">CodePen</a> to share experiments from day to day work.</p>

	{% for project in site.categories.projects %}
	  {% if project.private != true %}
	    <article class="projects__article">
	      <header class="projects__article-header">
	        <h3 class="projects__article-title">
	          <a href="{{ project.url }}">{{ project.title }}</a>
	        </h3>
	      </header>
	      <p class="projects__article-excerpt">{{ project.excerpt | strip_html }}</p>
	      <footer class="projects__article-footer">
	        <em class="projects__article-publish-date">{{ project.date | date_to_long_string }}</em>
	        {% if project.author %}
	        <em class="projects__article-author">&bull; {{ project.author }}</em>
	        {% endif %}
	      </footer>
	    </article>
	  {% endif %}
	{% endfor %}
</div>