_site
.sass-cache
.jekyll-metadata
.DS_Store
Thumbs.db
node_modules

vendors/*/*

!vendors/jquery
!vendors/socialmedia
!vendors/bootstrap-sass

vendors/jquery/*
vendors/socialmedia/*
vendors/bootstrap-sass/*

!vendors/jquery/dist
!vendors/socialmedia/dist
!vendors/bootstrap-sass/assets

vendors/*/dist/*
vendors/*/dist/*.js
vendors/*/dist/*.map
!vendors/*/dist/*.min.js
