_site
.sass-cache
.jekyll-metadata
.DS_Store
Thumbs.db
node_modules

# ignore all vendors
vendor/*/*
vendor/jquery/

# filter out required
!vendor/*/dist/
vendor/*/dist/*.js
vendor/*/dist/*.map
!vendor/*/dist/*.min.js

!vendor/bootstrap-sass/
vendor/bootstrap-sass/*

!vendor/bootstrap-sass/assets/
vendor/bootstrap-sass/assets/*

!vendor/bootstrap-sass/assets/stylesheets/
vendor/bootstrap-sass/assets/stylesheets/*

!vendor/bootstrap-sass/assets/stylesheets/bootstrap/
#vendor/bootstrap-sass/assets/stylesheets/bootstrap/*
