---
layout: default
class: home
---
<div class="home__hero container">
  <div class="row home__hero-about">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <p class="lead">I am {{ site.profession }} with a passion for progressive and usable web.</p>
      <p>Currently I am <strong>Front-End Web Developer</strong> at <strong><a href="http://ratedpeople.com" target="_blank">Rated People</a></strong> &ndash; a platform that connects homeowners and professional tradespeople in the UK. Nowadays I regularly work with:</p>
      {% include current-stack.html %}
      <p>I am also a digital <a href="https://google.com/mapmaker{{ site.google.mapmaker }}" target="_blank">cartographer, Advocate &amp; Regional Lead</a> for <a href="http://google.com/mapmaker" target="_blank">Google Map Maker</a> where I help create digital maps for everyone around the world.</p>
      <p>I regularly <a href="https://twitter.com/@{{ site.twitter.username }}" target="_blank">tweet</a>, share and contribute to <a href="https://github.com/{{ site.github.username }}" target="_blank">code</a>, and <a href="{{ '/articles' | prepend: site.baseurl }}">write</a> my thoughts out and occassionally speak at events.</p>
      <hr>
    </div>
  </div>
</div>

<div class="home_content container">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      {% include clients.html %}
      <hr>
      {% include featured-projects.html %}
    </div>
    <div class="col-xs-12 col-md-5">
      <hr class="visible-xs visible-sm">
      {% include latest-articles.html %}
    </div>
  </div>
</div>