.timestamp {
  color: #999;
  font-weight: 300;
}

.content {
  font-size: 18px;
  font-weight: 300;

  h2 {
    font-size: 1.5rem;
    margin-top: 1.875rem;
    margin-bottom: 0.75rem;
  }
}

.hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  grid-gap: 15px;
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.next {
  text-align: right;
}
