<div class="page-header text-center">
	<a href="/" title="{{ site.title }}"><img src="https://graph.facebook.com/jabranr/picture?width=150&height=150" alt="Jabran Rafique" class="img-circle clearfix"></a>
	<h1 class="logo">{{ site.title }}</h1>
	<h4 class="sub-heading">{{ site.description }}</h4>
    <ul class="list-inline contact-list">
      <li>
        <a href="https://twitter.com/intent/follow?screen_name=jabranr" target="_blank" class="text-hide twitter-icon" title="Follow me on Twitter">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/jabranr" target="_blank" class="text-hide github-icon" title="Fork on Github">Github</a>
      </li>
    </ul>
</div>

<p>I develop ideas that are useful and helpful for everyone.</p>