<div class="page-header text-center">
  {% if page.title == 'Home' %}
	<a href="/" title="{{ site.title }}"><img src="https://graph.facebook.com/jabranr/picture?width=150&height=150" alt="Jabran Rafique" class="img-circle clearfix"></a>
  <h1 class="jr-logo">{{ site.title }}</h1>
  {% else %}
  <h1 class="jr-logo"><a href="{{ site.url }}">{{ site.title }}</a></h1>
  {% endif %}
	<h4 class="jr-tagline">{{ site.tagline }}</h4>
    <ul class="list-inline contact-list">
      <li>
        <a href="https://twitter.com/intent/follow?screen_name=jabranr" target="_blank" class="text-hide twitter-icon" title="Follow me on Twitter">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/jabranr" target="_blank" class="text-hide github-icon" title="Fork on Github">Github</a>
      </li>
    </ul>
</div>

{% if page.title == 'Home' %}
<p>{{ site.description }}</p>
{% else %}
<p class="jr-description">{{ site.description }}</p>
{% endif %}