<!-- Blog listing -->
<div class="page-header">
	<h2 class="section-heading">
		Articles
	</h2>
</div>
{% for post in site.categories.articles limit:10 %}
	{% if post.private != true %}
	  <div class="blog-listing"
	  	{% if page.title == 'Home' %} ontouchstart="this.classList.add('hover');" ontouchend="this.classList.remove('hover');"{% endif %}>
	    <h4 class="blog-heading">
	      	<a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
	    </h4>
	    <p class="blog-excerpt">
	    	<a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.excerpt | strip_html }}</a>
	    </p>
		<p class="help-block">
			<small><em>{{ post.date | date_to_long_string }}</em></small>
		</p>
	  </div>
	{% endif %}
{% endfor %}

<p class="btn-archive-container text-right">
	<a href="{{ site.url }}/archives/" class="btn btn-link btn-sm">More articles &raquo;</a>
</p>
