{% assign countFeaturedProjects = site.categories.projects | size %}
{% if countFeaturedProjects > 0 %}
  <div class="row featured_projects">
    <div class="featured_projects-heading col-sm-12">
      <h2>Projects</h2>
    </div>
    <div class="featured_projects-content col-sm-12">
      {% for project in site.categories.projects %}
        {% if project.featured == true %}
          <div class="col-xs-6 col-lg-4 featured_projects-item">
            <img class="img-responsive featured_projects-thumbnail" src="{{ project.thumbnail | prepend: '/assets/images/projects/' | prepend: site.baseurl }}" alt="{{ project.title }}" />
            <!-- <p class="visible-xs featured_projects-excerpt">{{ project.excerpt }}</p> -->
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}