		 <div class="row">
			 <div class="col-sm-12 footer clearfix">
				<p class="pull-left">&copy; 2015 &ndash; {{ site.title }}</p>
				<p class="pull-right">
					<a class="rss-feed" href="{{ site.url }}/feed.xml" title="RSS Feed"><i class="icon-rss-feed"></i></a>
				</p>
		    </div>
	    </div>

	</div><!-- // container -->

    <!-- Scripts -->
    <!-- build:js /js/main.min.js -->
	<script src="/js/main.js"></script>
	<!-- endbuild -->

    <script>
        // Google Analytics
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "UA-9809111-15"]);
        _gaq.push(["_setDomainName", "jabran.me"]);
        _gaq.push(["_trackPageview"]);

        (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
        })();

{% if page.title != 'Home' and page.title != 'Projects' and page.title != 'Articles' and page.title != 'Archives' %}
	j__r.domReady(function()	{

		// socialmedia.js Facebook share
		document.querySelector('.facebook').addEventListener('click', function(event)	{
			event.preventDefault();
			j__r.facebook.Share({
				title: "{{ page.title }}",
				link: "{{ site.website }}{{ page.url }}",
				image: "{% if page.thumbnail %}{{ site.website }}/img/{{ page.thumbnail }}{% else %}{{ site.avatar }}{% endif %}",
				caption: "{{ site.website }}{{ page.url }}",
				description: "{{ page.excerpt }}"
			});
		}, false);

		// socialmedia.js Twitter tweet
		document.querySelector('.twitter').addEventListener('click', function(event)	{
			event.preventDefault();
			j__r.twitter.Tweet();
		}, false);

		// socialmedia.js GooglePlus share
		document.querySelector('.google-plus').addEventListener('click', function(event)	{
			event.preventDefault();
			j__r.googleplus.Share();
		}, false);

	});
{% elsif page.title == 'Home' %}
	j__r.isHome = true;
{% endif %}
	</script>

	</body>
</html>