	</div>
		 <div class="col-sm-12 footer">
			<small>
				<p>&copy; 2014 &ndash; {{ site.title }} &ndash; <a href="{{ site.url }}/feed.xml" title="RSS Feed">RSS</a></p>
			</small>
	    </div>
	</div>
	<script src="{{ site.url }}/js/global.min.js"></script>

{% if page.title != 'Home' and page.title != 'Projects' and page.title != 'Articles' and page.title != 'Archives' %}
	<script>
		(function()	{
			document.querySelector('.facebook').addEventListener('click', function(event)	{
				event.preventDefault();
				jrfb.Share({
					title: "{{ page.title }}",
					link: "{{ site.url }}{{ page.url }}",
					image: "{% if page.thumbnail %}{{ site.url }}/img/{{ page.thumbnail }}{% else %}{{ site.avatar }}{% endif %}",
					caption: "{{ site.url }}{{ page.url }}",
					description: "{{ page.excerpt }}"
				});
			}, false);

			document.querySelector('.twitter').addEventListener('click', function(event)	{
				event.preventDefault();
				jrtwttr.Tweet();
			}, false);

			document.querySelector('.google-plus').addEventListener('click', function(event)	{
				event.preventDefault();
				jrgplus.Share();
			}, false);

		})();
	</script>
{% endif %}

	</body>
</html>