	</div>
		 <div class="col-sm-12 footer">
			<small>
				<p>&copy; 2014 &ndash; {{ site.title }} &ndash; <a href="{{ site.url }}/feed.xml" title="RSS Feed">RSS</a></p>
			</small>
	    </div>
	</div>

    <!-- Scripts -->
	<script src="{{ site.url }}/js/global.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <style>html,body{ zoom: 1; }</style>
    <![endif]-->

    <script>
        // Google Analytics
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "UA-9809111-15"]);
        _gaq.push(["_setDomainName", "jabran.me"]);
        _gaq.push(["_trackPageview"]);

        (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
        })();

{% if page.title != 'Home' and page.title != 'Projects' and page.title != 'Articles' and page.title != 'Archives' %}

		(function()	{
			document.querySelector('.facebook').addEventListener('click', function(event)	{
				event.preventDefault();
				jrfb.Share({
					title: "{{ page.title }}",
					link: "{{ site.url }}{{ page.url }}",
					image: "{% if page.thumbnail %}{{ site.url }}/img/{{ page.thumbnail }}{% else %}{{ site.avatar }}{% endif %}",
					caption: "{{ site.url }}{{ page.url }}",
					description: "{{ page.excerpt }}"
				});
			}, false);

			document.querySelector('.twitter').addEventListener('click', function(event)	{
				event.preventDefault();
				jrtwttr.Tweet();
			}, false);

			document.querySelector('.google-plus').addEventListener('click', function(event)	{
				event.preventDefault();
				jrgplus.Share();
			}, false);

		})();

{% elsif page.title == 'Home' %}

		(function()	{
			var h1 = document.querySelector('h1.jr-logo'),
				a = document.createElement('a'),
				avatar = document.createElement('img');

				a.href = '/';
				a.title = '{{ site.title }}';

				avatar.src = 'https://graph.facebook.com/jabranr/picture?width=160&height=160';
				avatar.alt = 'Jabran Rafique';
				avatar.width = 160;
				avatar.height = 160;
				avatar.setAttribute('class', 'img-circle clearfix');

				a.appendChild(avatar);

				h1.parentNode.insertBefore(a, h1);

		})();		
{% endif %}
	</script>

	</body>
</html>