<header class="site__masthead" title="Google Big Tent, Sendai, Japan">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 site__masthead-title-container">
        {% if page.class == 'home' %}
          <h1 class="site__masthead-title">{{ site.title }}</h1>
        {% else %}
          <a class="site__masthead-anchor" rel="home" href="/">
            <h1 class="site__masthead-title">{{ site.title }}</h1>
          </a>
        {% endif %}

          <ul class="site__masthead-nav">
            <li class="nav-item"><a href="{{ '/archives' | prepend: site.baseurl }}">Articles</a></li>
            <li class="nav-item"><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
            <li class="nav-item nav-item--social"><a class="icon icon--twitter" target="_blank" href="https://twitter.com/@{{ site.twitter.username }}">{% include icon-twitter.svg %}</a></li>
            <li class="nav-item nav-item--social"><a class="icon icon--github" target="_blank" href="https://github.com/{{ site.github.username }}">{% include icon-github.svg %}</a></li>
          </ul>
      </div>
    </div>
  </div>
</header>
