<head>
  <!-- Default metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} &ndash; {{ site.profession }}{% endif %}</title>
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join:',' }}">{% endif %}
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- SEO -->
  {% include seo.html %}

  <!-- Web app manifest -->
  <link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">

  <!-- Favicon, icons, meta tags -->
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon-60x60.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/images/apple-touch-icon-76x76.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/images/apple-touch-icon-120x120.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/images/apple-touch-icon-152x152.png' | prepend: site.baseurl }}">
  <meta name="msapplication-TileImage" content="{{ '/assets/images/mstile-144x144.png' | preprend: site.baseurl }}">
  <meta name="msapplication-square70x70logo" content="{{ '/assets/images/mstile-70x70.png' | preprend: site.baseurl }}">
  <meta name="msapplication-square150x150logo" content="{{ '/assets/images/mstile-150x150.png' | preprend: site.baseurl }}">
  <meta name="msapplication-square310x310logo" content="{{ '/assets/images/mstile-310x310.png' | preprend: site.baseurl }}">
  <meta name="msapplication-wide310x150logo" content="{{ '/assets/images/mstile-310x150.png' | preprend: site.baseurl }}">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#9dbf8e">
  <meta name="msapplication-TileColor" content="#9dbf8e">
  <meta name="theme-color" content="#9dbf8e">
  <meta name="cleartype" content="on">

  <!-- Styling -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:600|Roboto+Condensed|Roboto+Mono:400,500" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style>html,body{ zoom: 1; }</style>
  <![endif]-->
</head>
