<!-- projects listing -->
<div class="page-header">
	<h2 class="section-heading">
		Projects
	</h2>
</div>
{% for post in site.categories.projects limit:10 %}
    <div class="project-listing">
      <h4>{{ post.title }}</h4>
      <ul class="project-badge list-inline">
      	<li>
	    	<span class="project-version stage-{{ post.stage | strip_html }}" title="Version {{ post.version }} {{ post.stage | strip_html }}">
	    		{% if post.stage == "stable" %}
	    			<i class="glyphicon glyphicon-ok-sign"></i>
	    		{% elsif post.stage == "alpha" %}
	    			<i class="glyphicon glyphicon-question-sign"></i>
	    		{% elsif post.stage == "beta" %}
	    			<i class="glyphicon glyphicon-question-sign"></i>
	    		{% elsif post.stage == "deprecated" %}
	    			<i class="glyphicon glyphicon-remove-sign"></i>
	    		{% endif %}
	    		 {{ post.version }}
	    	</span>
      	</li>
	    <li class="project-detail">
	    	<a href="{{ post.url }}" rel="bookmark" title="Project details">Details</a>
	    </li>
	    <li class="project-code">
	    	<a href="{{ post.code }}" title="View project">View Project</a>
	    </li>
	    <li class="project-license">
	    	{{ post.license }}
	    </li>
      </ul>
    </div>
{% endfor %}

<p class="btn-archive-container">
	<a href="{{ site.url }}/projects/" class="btn btn-link btn-sm">More Projects &raquo;</a>
</p>
