<!-- robots -->
<meta name="author" content="Jabran Rafique">
<meta name="robots" content="noodp">
<meta name="googlebot" content="all, index, follow">
<meta name="robots" content="all, index, follow">
<meta name="msnbot" content="all, index, follow">

<!-- Facebook open graph -->
<meta property="fb:app_id" content="{{ site.facebook.app_id }}">
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">

{% if page.title %}
  <meta property="article:author" content="https://plus.google.com/+{{ site.google.username }}">
  <meta property="article:published_time" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}">
  <meta property="article:section" content="{{ page.categories }}">

    {% for tag in page.tags %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}

{% endif %}

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{% if page.feature_image %}{{ page.feature_image }}{% else %}{{ '/assets/images/jabran_rafique_avatar.jpg' | prepend: site.baseurl | prepend: site.url }}{% endif %}">

<!-- Twitter card -->
<meta property="twitter:account_id" content="{{ site.twitter.app_id }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.username }}">
<meta name="twitter:creator" content="@{{ site.twitter.username }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:image:src" content="{% if page.feature_image %}{{ page.feature_image }}{% else %}{{ '/assets/images/jabran_rafique_avatar.jpg' | prepend: site.baseurl | prepend: site.url }}{% endif %}">

<link rel="publisher" href="https://plus.google.com/+{{ site.google.username }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
