<aside class="home__sidebar col-xs-12 col-md-4 {{ include.class }}">
  <div class="home__sidebar-about">
    <p>I am also a digital <a href="https://google.com/mapmaker{{ site.google.mapmaker }}" target="_blank">cartographer, Advocate &amp; Regional Lead</a> for <a href="http://google.com/mapmaker" target="_blank">Google Map Maker</a> where I help create digital maps for everyone around the world.</p>
    <p>I regularly <a href="https://twitter.com/@{{ site.twitter.username }}" target="_blank">tweet</a>, <a href="https://github.com/{{ site.github.username }}" target="_blank">share code</a> and <a href="{{ '/articles' | prepend: site.baseurl }}">blog</a>.</p>
  </div>
</aside>
