<aside class="home__sidebar {{ include.class }}">
  <div class="col-xs-12 col-sm-4 home__sidebar-about">
    {% comment %}
    <p>I am based in London, UK and specialize in developing high-end, scalable web applications with an experience of more than 4 years. I work with clients across the globe to help them achieve their goals. I am passionate about the web and it’s amazing impact on day to day life.</p>
    <hr>
    {% endcomment %}

    <p>I am also a digital <a href="https://google.com/mapmaker{{ site.google.mapmaker }}" target="_blank">cartographer, Advocate &amp; Regional Lead</a> for <a href="http://google.com/mapmaker" target="_blank">Google Map Maker</a> where I help create digital maps for everyone around the world.</p>

    <p>I regularly <a href="https://twitter.com/@{{ site.twitter.username }}" target="_blank">tweet</a>, <a href="https://github.com/{{ site.github.username }}" target="_blank">share code</a> and <a href="{{ '/articles' | prepend: site.baseurl }}">blog</a>.</p>
  </div>

  <div class="col-xs-12 col-sm-4 home__sidebar-projects">
    <h3>Projects</h3>
    <p>Here are some of my projects:</p>
    {% include featured-projects.html %}
    <div class="home__projects-more">
      <a href="/projects">View all projects &raquo;</a>
    </div>
  </div>
</aside>
