.speaking {
  font-size: 1.125rem;
}

.event {
  display: block;
  clear: both;
  grid-gap: 0 1rem;
  color: #666;

  & + & {
    border-top: 2px solid #eee;
    margin-top: 1rem;
    padding-top: 2.5rem;
  }

  h3 {
    grid-column: 1/-1;
    color: #333;
  }

  img {
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    vertical-align: middle;
    margin: 0 0 1rem 1.125rem;
  }
}
