
.clients_content {
  line-height: 2;
  font-weight: 500;
}

.clients_list {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.clients_client {
  padding: 0;
  width: 160px;
  display: inline-block;
  vertical-align: top;
  white-space: pre;
}