.latest_articles {
  position: relative;
}

.latest_articles-item {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 15px;
}

.latest_article-excerpt {
  color: #999;
}

.latest_article-footer {
  color: #888;
}

.latest_articles-more {
  margin-top: 15px;
}
