---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 8]><html xmlns:fb="http://ogp.me/ns/fb#" class="ie-legacy"><![endif]-->
<!--[if IE 8]><html xmlns:fb="http://ogp.me/ns/fb#" class="ie8"><![endif]-->
<!--[if IE 9]><html xmlns:fb="http://ogp.me/ns/fb#" class="ie9"><![endif]-->
<!--[if gt IE 9]><html xmlns:fb="http://ogp.me/ns/fb#" class="ie10"><![endif]-->
<!--[if !IE]><!--><html xmlns:fb="http://ogp.me/ns/fb#"><!-- <![endif]-->
  {% include head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
