---
layout: default
---

<div class="col-md-3 about-content projects-template clearfix">
	{% include about.html %}
	{% if page.stage == 'stable' %}
	<p class="project-download">
		<a class="btn btn-primary" target="_blank" href="{{ page.code }}">
			Download version {{ page.version }}&nbsp;
			<i class="glyphicon glyphicon-chevron-right"></i>
		</a>
	</p>
	<p class="project-download">
		<a class="btn btn-warning" target="_blank" href="{{ page.code }}/issues">
			Report an issue&nbsp;
			<i class="glyphicon glyphicon-info-sign"></i>
		</a>
	</p>
	{% endif %}
</div>

<div class="col-md-9 project-content projects-template clearfix">
	<div class="page-header">
		<h1 class="post-title">
			{{ page.title }} 
	    	<span class="project-version stage-{{ page.stage | strip_html }}" title="Version {{ page.version }} {{ page.stage | strip_html }}">
	    		{% if page.stage == "stable" %}
	    			<i class="glyphicon glyphicon-ok-sign"></i>
	    		{% elsif page.stage == "alpha" %}
	    			<i class="glyphicon glyphicon-question-sign"></i>
	    		{% elsif page.stage == "beta" %}
	    			<i class="glyphicon glyphicon-question-sign"></i>
	    		{% elsif page.stage == "deprecated" %}
	    			<i class="glyphicon glyphicon-remove-sign"></i>
	    		{% endif %}
	    		 {{ page.version }}
	    	</span>
		</h1>
		<p class="post-metadata">First Release: {{ page.date | date_to_long_string }}</p>
	</div>
	{{ content }}

	{% if page.stage == 'stable' %}
	<p class="project-download text-center">
		<a class="btn btn-primary" target="_blank" href="{{ page.code }}">
			Download version {{ page.version }}&nbsp;
			<i class="glyphicon glyphicon-chevron-right"></i>
		</a>
		<a class="btn btn-warning" target="_blank" href="{{ page.code }}/issues">
			Report an issue&nbsp;
			<i class="glyphicon glyphicon-info-sign"></i>
		</a>
	</p>
	{% endif %}

	{% include social-projects.html %}

</div>